body {
  font-family: 'Merriweather', serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  background-color: slategray;
  /* padding needs adjustment */
  padding: 45px;
}

form {
  border-top: 10px double black;
  padding-top: 50px;
}

fieldset {
  border: none;
}

/* Add top and bottom spacing between labels and fields using child selectors. */
fieldset > label {
  margin-bottom: 15px;
  margin-top: 15px;
}

.radio_checkbox_row > label {
  margin-bottom: 15px;
}

.intro_paragraph {
  text-align: center;
}

.contact_section,
.newsletter_section {
  display: flex;
  flex-direction: column;
}

.first_input {
  margin-top: 25px;
}

input[type=text]:focus {
  background-color: aquamarine;
}

input[type=radio] {
  display: flex;
  flex-direction: column;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=textarea],
select {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

input[type=number] {
  width: 50%;
  border: none;
  border-radius: 5px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.zip_code_section {
  display: flex;
  flex-direction: column;
}

/* This section simply moves the placeholder text to the right of the input field */
/* Source: https://css-tricks.com/almanac/selectors/p/placeholder/ */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-indent: 210px;
}

::-moz-placeholder { /* Firefox 19+ */
  text-indent: 210px;
  /* color: gainsboro; */
}
:-ms-input-placeholder { /* IE 10+ */
  text-indent: 210px;
}
:-moz-placeholder { /* Firefox 18- */
  text-indent: 210px;
}

.radio_checkbox_row {
  display: flex;
  flex-direction: row;
}

input,
select {
  background-color: whitesmoke;
}

input[type=textarea] {
  height: 100px;
  border-radius: 5px;
}

.form_breakpoint {
  border-top: 2px solid black;
  margin-bottom: 50px;
}

label {
  color: grey;
}

.newsletter_types_and_formats {
  margin-left: 10px;
}

p {
  color: #808080;
}

textarea {
  background-color: whitesmoke;
  border: none;
  width: 100%;
}

button {
  background-color: #40E0D0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 10px;
}

.copyright {
  text-align: center;
  font-size: .8em;
  margin-top: 20px;
}

/* -------------------------------------------------------------------------------------------- */

/* MEDIA QUERY */

@media (min-width: 768px) {
  .contact_section > label {
    display: flex;
    flex-direction: row;
  }

  .input_field_sections {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2{
    width:100%;
    text-align: center;
    height: 10px;
    margin-bottom: 25px;
  } 
 
  h3 {
    justify-content: center;
    margin-bottom: -10px;
    font-size: x-large;
  }

form {
  width: 60vw;
}

.intro_paragraph {
  padding-bottom: 50px;
}

.input_field_sections > label {
  margin-right: 20px;
}

/* input[type=text],
input[type=email],
input[type=tel],
input[type=textarea],
input[type=number],
select { 
  border: 2px solid red ;
} */

/* Allows labels to appear on single line
https://www.digitalocean.com/community/tutorials/css-prevent-line-break */

span {
  white-space: nowrap;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-indent: 250px;
}

::-moz-placeholder { /* Firefox 19+ */
  text-indent: 250px;
  /* color: gainsboro; */
}
:-ms-input-placeholder { /* IE 10+ */
  text-indent: 250px;
}
:-moz-placeholder { /* Firefox 18- */
  text-indent: 250px;
}

}