body {
  font-family: 'Merriweather', serif;
}

form {
  display: flex;
  flex-direction: column;
}

.contact_section
{
  display: flex;
  flex-direction: column;
}

input[type=text]:focus {
  background-color: aquamarine;
}

input,
select {
  background-color: whitesmoke;
}

button {
  background-color: aquamarine;
}


/* MEDIA QUERY */

/* @media (min-width: 768px) {
  
} */